# Welcome to Jekyll!
#
# This config file is meant for settings that affect your whole blog, values
# which you are expected to set up once and rarely edit after that. If you find
# yourself editing this file very often, consider using Jekyll's data files
# feature for the data you need to update frequently.
#
# For technical reasons, this file is *NOT* reloaded automatically when you use
# 'bundle exec jekyll serve'. If you change this file, please restart the server process.
#
# If you need help with YAML syntax, here are some quick references for you:
# https://learn-the-web.algonquindesign.ca/topics/markdown-yaml-cheat-sheet/#yaml
# https://learnxinyminutes.com/docs/yaml/
#
# Site settings
# These are used to personalize your new site. If you look in the HTML files,
# you will see them accessed via {{ site.title }}, {{ site.email }}, and so on.
# You can create any custom variable you would like, and they will be accessible
# in the templates via {{ site.myvariable }}.

title: Chunqi Guo 
name: Chunqi Guo
position: Research Assistant
affiliation: 
university: Sichaun Agricultural University

site.email: guochunqi02@gmail.com
email: guochunqi02@gmail.com
description: |
  I am a senior undergraduate and research assistant at [Xishu Classical Gardens Digital Lab @Sichuan Agricultural University](https://www.sicau.edu.cn/), where I am advised by Prof. [Li Guo](https://fjylxy.sicau.edu.cn/info/1155/3717.htm) and Prof. [Shixian Luo](https://scholar.google.com/citations?user=GdYvFX4AAAAJ&hl=zh-CN).
  
  My research interests span from Trustworthy AI, Open-World tasks, Muti-Agent Simulation issues.  
  I aim to endow artificial intelligence with more human-like semantic embedding mechanisms and model frameworks that enable interpretable reasoning processes.
  
  My motto: The purpose of life is to enjoy every moment.  '刹那即永恒，觉心即意义'
  
baseurl: "" # the subpath of your site, e.g. /blog
url: "https://chunqiguo02.github.io" # the base hostname & protocol for your site, e.g. http://example.com
twitter_username: Chunqi Guo
github_username: ChunqiGuo02
google_scholar: ChunqiGuo
cv: images/main.pdf

# Build settings
theme: minima
plugins:
  - jekyll-feed

sass:
  style: compact

# Exclude from processing.
# The following items will not be processed, by default.
# Any item listed under the `exclude:` key here will be automatically added to
# the internal "default list".
#
# Excluded items can be processed by explicitly listing the directories or
# their entries' file path in the `include:` list.
#
# exclude:
#   - .sass-cache/
#   - .jekyll-cache/
#   - gemfiles/
#   - Gemfile
#   - Gemfile.lock
#   - node_modules/
#   - vendor/bundle/
#   - vendor/cache/
#   - vendor/gems/
#   - vendor/ruby/
